body {
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
}

#query-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#correction-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

